@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=PT+Mono&family=PT+Sans:ital@1&family=Play&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-family: "Play", sans-serif;
}

body {
  background-color: grey;
  color: #ffff;
}

.headingSection {
  margin-top: 40px;
}
.btnSection {
  margin-top: 20px;
}
.heading h1 {
  font-size: 45px;
}
#btn {
  padding: 10px 20px;
  background-color: black;
  color: #ffff;
  margin-top: 20px;
}
.promt {
  display: none;
  margin-top: 30px;
}
.promt p {
  font-size: 18px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
  /* gap: 120px; */
  display: none;
  transition: 5s;
}
